<center>
  <div class="screen">
    <img src="<%= asset_path("mockup6.gif")%>"  />
  </div>
  <div class="screen">
    <img src="<%= asset_path("mockup1.gif")%>"  />
  </div>
  <div class="screen">
    <img src="<%= asset_path("mockup2.gif")%>"  />
  </div>
  <div class="screen">
    <img src="<%= asset_path("mockup3.gif")%>"  />
  </div>
  <div class="screen">
    <img src="<%= asset_path("mockup4.gif")%>"  />
  </div>
  <div class="screen">
    <img src="<%= asset_path("mockup5.gif")%>"  />
  </div>
  <div class="screen">
    <img src="<%= asset_path("mockup7.gif")%>"  />
  </div>
</center>